{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Blog</h1>
    <ul>
        {% for post in posts %}
            <li><a href="/post/show/{{ post.slug }}">{{ post.id }}. {{ post.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/post/add">Ajouter</a>
{% endblock %}
